node_modules
.env
.env.example
iiitnr-attendence-app-f604e-firebase-adminsdk-fbsvc-e79f0f1be5.json

# Ignore duplicates/other apps in this folder
FacultyPortal/
StudentApp/
backend/

# Logs
logs
*.log
npm-debug.log*

# Security & Cleanup
*.json
!package.json
!package-lock.json
!firebase.json
!firestore.indexes.json
!firestore.rules

